import { <%= itemNameC %>, use<%= listNameC %>Query } from '../../api/generated';
import { Box } from '../atoms/Box';
import { ButtonProps } from '../atoms/Button';
import { ButtonSelect } from '../atoms/ButtonSelect';

type Props = ButtonProps & {
  label: string;
  placeholder: string;
  required?: boolean;
  value?: Partial<<%= itemNameC %>>;
  onChangeValue?: (value: Partial<<%= itemNameC %>>) => void;
};

export const Input<%= itemNameC %>: React.FC<Props> = ({ label, placeholder, value, onChangeValue, ...props }) => {
  const { data } = use<%= listNameC %>Query();

  return (
    <Box variant='label-input'>
      <label>{label}</label>
      <ButtonSelect
        placeholder={placeholder}
        options={data?.<%= listName %>}
        present={(item) => item.<%= present %>}}
        value={value}
        onChangeValue={onChangeValue}
        {...props}
      />
    </Box>
  );
};
